@media (max-width: 1200px) {
  /* global */
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }

  br {
    display: none;
  }

  :root {
    --container-max-width: 1140px;
    --container-padding: 15px;
    --columns: 12;
    --gutter: 30px;
    --gap: 30px;
    --black: #121723;
    --violet: #6d31ee;
    --white: #ffffff;
    --light-violet: #aa9dfa;
    --gray: #a1a6b4;
    --light-gray: #d2d5dd;
    --gray-bg: #f2f2f2;
    --gray-line: #e6e8ec;
    --active: #4f28a5;
    --gold: #f0d288;
    --font-size-h1: 60px;
    --font-size-h2: 48px;
    --font-size-h3: 20px;
    --font-size-h4: 16px;
    --text-size-lg: 20px;
    --text-size-sm: 16px;
    --btn-2-radius: 77px;
    --btn-1-radius: 40px;
    --btn-1-text: 16px;
    --btn-2-text: 20px;
  }

  /* header */
  .header__top {
    padding: 0;
  }

  .header__logo {
    display: none;
  }

  .header__adaptive {
    display: block;
    padding-top: 23px;
    padding-bottom: 17px;
    background-color: var(--gray-bg);
  }

  .header__logo-adaptive {
    display: block;
    align-self: center;
    outline: 1px solid transparent;
  }

  .nav-wrapper {
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    padding-top: 20px;
    padding-bottom: 19px;
    width: 100%;
  }

  .header__list--top {
    justify-content: space-between;
  }

  .header__container--bottom {
    gap: 0
  }
  .header__bottom {
    padding-top: 9px;
    padding-bottom: 9px;
  }
   .header__list--bottom {
    gap: 28px;
  }

  .header__list-btn {
    gap: 22px;
  }

  .header__item-btn--1 {
    padding-right: 3px;
  }
  .header__item-btn--2 {
    padding-left: 0;
    padding-right: 18px;
  }

  .age-limit {
    display: none;
  }
/* hero */
.hero__content {
  gap: 20px;
}

.hero__picture-bg {
  top: -2px;
  width:255px;
}

.hero__btn {
  padding: 22px 53px;
}

/* podcasts */
.podcasts {
  padding-top: 93px;
  padding-bottom: 94px;
}

.item-img {
  width: 124px;
}

.podcasts__list {
  margin-bottom: 29px;
}

.show-more-btn {
  padding: 21px 53px;
}

  .broadcast__list {
    padding-top: 13px;
    --broadcast-elements: 2;
  }
  .broadcast__wrapper {
    align-items: flex-start;
  }

/* guests */
.guests {
  padding-bottom: 97px;
}
.ac .ac-panel {
  --ac-elements: 3;
}

.ac .ac-panel .ac-text--last {
  display: flex;
  width: 100%;
  --last-element: 3;
}
.item-list--last {
  flex-direction: row;
  gap: 30px;
  width: 100%;
}

.item-list__item {
  width: calc((100% - (var(--last-element) - 1) * var(--gap)) / (var(--last-element)));
}

.tabs-item__img {
  height: 157px;
}

.twitter {
  width: 20.38px;
  height: 16.57px;
}
  /* playlists */
  .playlists {
    padding-bottom: 87px;
  }
  .playlists__wrapper {
    flex-direction: column;
  }

  .playlists__radio-title {
    margin-bottom: 9px;
  }

  .playlists-radio {
    gap: 26px 33px;
    border-bottom: 0;
  }

  .playlists-radio__lbl {
    transform: translateY(5px);
}

.playlists__item-pic {
  max-height: 112px;
  max-width: 112px;
}

.playlists__left-content {
  display: none;
  position: absolute;
  top: 1030px;
  left: 10px;
  width: 100%;
}

  .playlists__list {
    margin-bottom: 39px;
    padding-top: 8px;
    --playlists-elements: 3;
  }

  .playlists__item-link {
    flex-direction: row;
  }

  .playlists__item-flag {
    position: absolute;
    left: 0;
  }

  .playlists__item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 38px 0 40px 9px;
    width: 100%;
    max-height: 112px;
  }

  .playlists__adaptive {
    display: block;
    width: 100%;
  }

  .underline {
    display: block;
    margin-bottom: 38px;
    height: 1px;
    width: 100%;
    background-color: var(--gray-line);
  }

  .playlists__left-age-limit {
    margin-bottom: 4px;
  }

  /* advertising */
  .advertising {
    padding-bottom: 97px;
  }
  .advertising__left,
  .advertising__right {
    flex-basis: calc(calc(100% / var(--columns)) * 6);
  }

  .advertising__left {
    transform: translateY(-15px);
  }

  .advertising__picture-mark {
    left: 15px;
    width: 100px;
    height: 100px;
  }

  .advertising__description--1 {
    margin-bottom: 13px;
  }

  .advertising__description--2 {
    margin-bottom: 30px;
 }


  /* about-us */
  .about-us-content {
    flex-basis: calc(calc(100% / var(--columns)) * 8);
  }

  .about-us__top {
    flex-wrap: nowrap;
  }
  .about-us__img-wrapper {
    align-items: center;
    justify-content: space-between;
    flex-basis: calc(calc(100% / var(--columns)) * 2);
  }
  .about-us__spiral-wrapper {
    display: none;
  }

  .about-us__middle {
    margin-bottom: 6px;
  }

  .swiper-slide__img--1 {
    background-image: url("../img/gutenberg-dm-1024.jpg");
  }

  .swiper-slide__img--2 {
    background-image: url("../img/vasilyeva-an-1024.jpg");
  }

  .swiper-slide__img--3 {
    background-image: url("../img/dmitrievskiy-pt-1024.jpg");
  }

  .swiper-slide__img--4 {
    background-image: url("../img/fleganova-tn-1024.jpg");
  }

  .swiper-slide__img--5 {
    background-image: url("../img/prokopyev-fd-1024.jpg");
  }

  .swiper-slide__img--6 {
    background-image: url("../img/kortneva-sv-1024.jpg");
  }

  .swiper-button-prev {
    top: 38%;
    left: -8%;
  }

  .swiper-button-next {
    top: 38%;
    right: -8%;
  }

 .about-us__bottom {
  gap: 29px;
 }

  .message {
    width: 100%;
  }

  .form__input-wrapper {
    width: 100%;
  }

  .form__input-box--left {
    margin-bottom: 10px;
  }
  .form__btn {
    margin-bottom: 4px;
    width: 26%;
    transform: translateY(5px);
  }

}

@media (max-width: 1023px) {
  /* global */
  .container {
    padding-left: 114px;
    padding-right: 114px;
  }

  /* header */
  /* .header__top */
    .nav--top {
    position: fixed;
    top: 0;
    left: 0;
    padding: 106px 114px;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    min-height: 400px;
    overflow-y: auto;
    background-color: var(--gray-bg);
    z-index: 100;
    visibility: hidden;
    transform: scale(0);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .nav--top--active {
    visibility: visible;
    transform: scale(1);
  }

  .header__list--top {
    justify-content: flex-start;
    flex-direction: column;
    gap: 64px;
  }

  .header__list--top-left {
    margin-right: 29px;
  }

  .header__list--top-right {
    margin-right: 17px;
  }
  .nav__bg-img {
    position: relative;
    justify-content: space-between;
    width: 47%;
  }

  .nav__spiral--1 {
    position: absolute;
    left: 0;
    top: -47px;
  }

  .nav__spiral--2 {
    position: absolute;
    right: 0;
    bottom: -47px;
  }

  .nav__spiral {
    background-image: url("../img/nav-spiral.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 113px;
    height: 365px;
  }

  .burger {
    position: relative;
    display: block;
    padding: 0;
    width: 23px;
    height: 23px;
    border: 0;
    background-color: var(--white);
    color: var(--black);
    outline: 2px solid transparent;
    outline-offset: 4px;
    transition: outline-color 0.3s ease-in-out;
  }

  .burger:focus {
    outline-color: var(--violet);
  }

  .burger:hover {
    outline-color: transparent;
  }

  .burger:hover .burger__line {
    background-color: var(--light-violet);
  }

  .burger:active {
    outline-color: transparent;
  }

  .burger:active .burger__line {
    background-color: var(--active);
  }
  .burger__line {
    position: absolute;
    left: 50%;
    width: 23px;
    height: 3px;
    background-color: var(--violet);
    border-radius: 4px;
    transform: translateX(-50%);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out, background-color 0.3s ease-in-out ;
  }

  .burger__line:nth-child(1) {
    top: 20px;
  }

  .burger__line:nth-child(3) {
    bottom: 20px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .burger--active
  .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active
  .burger__line:first-child {
    left: 0;
    top: 25%;
    transform: rotate(45deg);
    transform-origin: center;
    z-index: 1001;
    color: var(--violet);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active
  .burger__line:last-child {
    left: 0;
    top: 25%;
    transform: rotate(-45deg);
    transform-origin: center;
    z-index: 1001;
    color: var(--violet);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .burger--active {
    position: absolute;
    top: 33px;
    left: 114px;
  }

  .modal__wrapper {
    padding: 60px 40px;
    min-width: 539px;
 }

 .modal__form-input {
  width: 100%;
 }

 /* .header__bottom */
 .header__bottom {
  padding-top: 19px;
  padding-bottom: 19px;
 }

 .header__container--bottom {
   align-items: center;
   gap: 5px;
 }

 .header__item-btn--1,
 .header__item-btn--2 {
  display: none;
 }
 .header__list--bottom {
  gap: 29px;
 }

 .on-the-air--adaptive {
  display: block;
  top: 0;
 }

 /* hero */
 .hero__left {
   flex-basis: calc(calc(100% / var(--columns)) * 12);
  }

  .hero__picture {
    display: none;
  }

  /* podcasts */
  .podcasts__item {
    flex-basis: calc(calc(100% / var(--columns)) * 12);
  }

  .item-img {
    width: 20.74%;
  }

  /* broadcast */
  .broadcast {
    padding-bottom: 0;
  }

  .broadcast__container {
    margin-bottom: 60px;
  }

  .broadcast__wrapper {
    flex-direction: column;
  }

  .broadcast__content {
    margin-bottom: 35px;
  }

  .broadcast__bottom {
    display: none;
  }

  .broadcast__underline {
    display: block;
    padding-left: 0;
    padding-right: 0;
    height: 1px;
    background: var(--gray-line);
    width: 100%;
  }

  .broadcast__bottom-adaptive {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px 212px;
    /* width: 44.92%; */
  }

  .broadcast__bottom-img {
    margin-bottom: 0;
    width: 21.5%;
    height: 96px;
  }

  .broadcast__bottom-btn {
    margin-bottom: 8px;
    width: 62.7%;
  }

  .broadcast__bottom-content {
    display: flex;
    flex-direction: column;
    width: 78.5%;
  }

  /* guests */
  .guests {
    padding-bottom: 95px;
  }

  .guests__top-col {
    flex-basis: calc(calc(100% / var(--columns)) * 12);
  }

  .guests__bottom {
    flex-direction: column;
    gap: 52px;
  }

  .ac .ac-panel {
    gap: 32px 30px;
  }

  .item-list {
    gap: 29px 30px;
  }

  .tabs-item__img {
    height: 220px;
  }

  .tabs-item__text {
    margin-bottom: 29px;
    width: 73%;
  }

  .playlists__list {
    --playlists-elements: 2;
  }

  .playlists-radio__left, .playlists-radio__right {
    gap: 40px 0;
  }

  .playlists-radio {
    padding-bottom: 50px;
  }

  .playlists__left-age-limit {
    margin-bottom: 2px;
  }

  /* advertising */
  .advertising {
    padding-top: 70px;
  }
  .advertising__row {
    flex-direction: column;
    gap: 30px;
  }

  .advertising__picture-mark {
    left: 15px;
    top: 0;
    width: 160px;
    height: 160px;
  }

  .advertising__title {
    width: 73%;
  }

  /* about-us */
  .about-us {
    padding-top: 93px;
  }

  .about-us__container {
    gap: 31px;
  }

  .about-us__top {
    flex-direction: column;
    gap: 26px;
  }

  .about-us-content {
    flex-basis: calc(calc(100% / var(--columns)) * 12);
  }

  .about-us__img-wrapper {
    align-items: center;
    gap: 30px;
    flex-basis: calc(calc(100% / var(--columns)) * 12);
  }

  .about-us__spiral-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 398px;
    width: 398px;
    height: 112px;
  }
  .about-us__spiral {
    position: absolute;
    top: 0;
    right: -66px;
    background-image: url("../img/about-us-spiral-768.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 639px;
    height: 112px;
  }

  .about-us__dawn-wrapper {
    position: relative;
  }
  .about-us__dawn {
    width: 112px;
    height: 112px;
  }

  .swiper-slide__img--1 {
    background-image: url("../img/gutenberg-dm-768.jpg");
  }

  .swiper-slide__img--2 {
    background-image: url("../img/vasilyeva-an-768.jpg");
  }

  .swiper-slide__img--3 {
    background-image: url("../img/dmitrievskiy-pt-768.jpg");
  }

  .swiper-slide__img--4 {
    background-image: url("../img/fleganova-tn-768.jpg");
  }

  .swiper-slide__img--5 {
    background-image: url("../img/prokopyev-fd-768.jpg");
  }

  .swiper-slide__img--6 {
    background-image: url("../img/kortneva-sv-768.jpg");
  }

  .swiper-button-prev {
    top: 35.5%;
    left: -12%;
  }

  .swiper-button-next {
    top: 35.5%;
    right: -12%;
 }

 .about-us__middle {
    margin-bottom: 0;
 }

 .form__input-wrapper {
  flex-direction: column;
  gap: 31px;
 }

 .form__input-box {
  width: 100%;
 }

 /* .form__input-box:not(:last-child) {
  margin-bottom: 30px;
 } */

 .form__btn {
  width: 39%;
 }

 /* footer */
 .footer__container {
  margin-bottom: 79px;
 }

 .footer__wrapper {
  flex-direction: column;
  align-items: center;
  gap: 78px;
 }

 .footer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .footer__link svg {
  width: 35px;
  height: 37px;
 }

 .footer__nav {
  flex-wrap: wrap;
  gap: 155px;
  align-items: center;
}

.footer__list-nav {
  gap: 27px;
}


}
