/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1200px) {

  /* global */
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }

  br {
    display: none;
  }

  :root {
    --container-max-width: 1140px;
    --container-padding: 15px;
    --columns: 12;
    --gutter: 30px;
    --gap: 30px;
    --black: #121723;
    --violet: #6d31ee;
    --white: #ffffff;
    --light-violet: #aa9dfa;
    --gray: #a1a6b4;
    --light-gray: #d2d5dd;
    --gray-bg: #f2f2f2;
    --gray-line: #e6e8ec;
    --active: #4f28a5;
    --gold: #f0d288;
    --font-size-h1: 60px;
    --font-size-h2: 48px;
    --font-size-h3: 20px;
    --font-size-h4: 16px;
    --text-size-lg: 20px;
    --text-size-sm: 16px;
    --text-size-xs: 12px;
    --text-size-xxs: 9px;
    --btn-2-radius: 77px;
    --btn-1-radius: 40px;
    --btn-1-text: 16px;
    --btn-2-text: 20px;
  }

  /* header */
  .header__top {
    padding: 0;
  }

  .header__logo {
    display: none;
  }

  .header__adaptive {
    display: block;
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: var(--gray-bg);
  }

  .header__logo-adaptive {
    display: inline-block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 0;
    outline: 1px solid transparent;
  }

  .nav-wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 35px;
    padding-top: 20px;
    padding-bottom: 19px;
    width: 100%;
  }

  .header__list--top {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__container--bottom {
    gap: 0
  }

  .header__bottom {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .header__list--bottom {
    gap: 28px;
  }

  .header__list-btn {
    gap: 22px;
  }

  .header__item-btn--1 {
    padding-right: 3px;
  }

  .header__item-btn--2 {
    padding-left: 0;
    padding-right: 18px;
  }

  .age-limit {
    display: none;
  }

  /* hero */
  .hero__content {
    gap: 20px;
  }

  .hero__picture-bg {
    top: -2px;
    width: 255px;
  }

  .hero__btn {
    padding: 22px 53px;
  }

  /* podcasts */
  .podcasts {
    padding-top: 93px;
    padding-bottom: 94px;
  }

  .item-img {
    width: 124px;
  }

  .podcasts__list {
    margin-bottom: 31px;
  }

  .podcasts__item {
    margin-bottom: 29px;
  }

  .show-more-btn {
    padding: 21px 53px;
  }

  /* broadcasts */
  .broadcast {
    padding-top: 95px;
  }

  .broadcast__list {
    padding-top: 13px;
    --broadcast-elements: 2;
  }

  .broadcast__wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  /* guests */
  .guests__title {
    margin-bottom: 12px;
  }

  .guests {
    padding-bottom: 96px;
  }

  .ac .ac-panel {
    --ac-elements: 3;
  }

  .ac .ac-panel .ac-text--last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    --last-element: 3;
  }

  .item-list--last {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 30px;
    width: 100%;
  }

  .item-list__item {
    width: calc((100% - (var(--last-element) - 1) * var(--gap)) / var(--last-element));
  }

  .tabs-item__img {
    height: 157px;
  }

  .twitter {
    width: 20.38px;
    height: 16.57px;
  }

  /* playlists */
  .playlists {
    padding-bottom: 87px;
  }

  .playlists__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .playlists__radio-title {
    margin-bottom: 9px;
  }

  .playlists-radio {
    gap: 26px 33px;
    padding-bottom: 30px;
    border-bottom: 0;
  }

  .playlists-radio__lbl {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }

  .playlists__item-pic {
    height: 100%;
    max-width: 112px;
  }

  .playlists__left-content {
    position: absolute;
    top: 1030px;
    left: 10px;
    display: none;
    width: 100%;
  }

  .playlists__list {
    margin-bottom: 39px;
    padding-top: 8px;
    --playlists-elements: 3;
  }

  .playlists__item-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .playlists__item-flag {
    position: absolute;
    left: 0;
  }

  .playlists__item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 38px 0 40px 9px;
    width: 100%;
    max-height: 112px;
  }

  .playlists__adaptive {
    display: block;
    width: 100%;
  }

  .underline {
    display: block;
    margin-bottom: 38px;
    height: 1px;
    width: 100%;
    background-color: var(--gray-line);
  }

  .playlists__left-age-limit {
    margin-bottom: 4px;
  }

  /* advertising */
  .advertising {
    padding-bottom: 97px;
  }

  .advertising__left,
  .advertising__right {
    -ms-flex-preferred-size: calc(calc(100% / var(--columns)) * 6);
    flex-basis: calc(calc(100% / var(--columns)) * 6);
  }

  .advertising__left {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  .advertising__picture-mark {
    left: 15px;
    width: 100px;
    height: 100px;
  }

  .advertising__description--1 {
    margin-bottom: 13px;
  }

  .advertising__description--2 {
    margin-bottom: 30px;
  }


  /* about-us */
  .about-us {
    padding-top: 92px;
  }

  .about-us-content {
    -ms-flex-preferred-size: calc(calc(100% / var(--columns)) * 8);
    flex-basis: calc(calc(100% / var(--columns)) * 8);
  }

  .about-us__top-row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .about-us__img-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-preferred-size: calc(calc(100% / var(--columns)) * 2);
    flex-basis: calc(calc(100% / var(--columns)) * 2);
  }

  .about-us__spiral-wrapper {
    display: none;
  }

  /* swiper */
  .swiper-container {
    margin-bottom: 6px;
  }

  .swiper-slide__img--1 {
    background-image: url("../img/gutenberg-dm-1024.jpg");
  }

  .swiper-slide__img--2 {
    background-image: url("../img/vasilyeva-an-1024.jpg");
  }

  .swiper-slide__img--3 {
    background-image: url("../img/dmitrievskiy-pt-1024.jpg");
  }

  .swiper-slide__img--4 {
    background-image: url("../img/fleganova-tn-1024.jpg");
  }

  .swiper-slide__img--5 {
    background-image: url("../img/prokopyev-fd-1024.jpg");
  }

  .swiper-slide__img--6 {
    background-image: url("../img/kortneva-sv-1024.jpg");
  }

  .swiper-button-prev {
    top: 128px;
    left: 35px;
  }

  .swiper-button-next {
    top: 128px;
    right: 35px;
  }

  .about-us__form {
    gap: 29px;
  }

  .message {
    width: 100%;
  }

  .form__input-wrapper {
    width: 100%;
  }

  .form__input-box--left {
    margin-bottom: 10px;
  }

  .form__btn {
    margin-bottom: 4px;
    width: 26%;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@media (max-width: 1023px) {

  /* global */
  .container {
    padding-left: 114px;
    padding-right: 114px;
  }

  /* header */
  .nav--top {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 106px 114px;
    width: 100%;
    height: 100vh;
    min-height: 400px;
    overflow-y: auto;
    background-color: var(--light-gray);
    z-index: 100;
    visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .nav--top--active {
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .header__list--top {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 64px;
  }

  .header__list--top-left {
    margin-right: 29px;
  }

  .header__list--top-right {
    margin-right: 17px;
  }

  .nav__bg-img {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 47%;
  }

  .nav__spiral--1 {
    position: absolute;
    left: 0;
    top: -47px;
  }

  .nav__spiral--2 {
    position: absolute;
    right: 0;
    bottom: -47px;
  }

  .nav__spiral {
    background-image: url("../img/nav-spiral.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 113px;
    height: 365px;
  }

  .burger {
    position: relative;
    display: block;
    padding: 0;
    border: 0;
    width: 23px;
    height: 23px;
    color: var(--black);
    background-color: var(--white);
    outline: 2px solid transparent;
    outline-offset: 4px;
    -webkit-transition: outline-color 0.3s ease-in-out;
    -o-transition: outline-color 0.3s ease-in-out;
    transition: outline-color 0.3s ease-in-out;
  }

  .burger:focus {
    outline-color: var(--violet);
  }

  .burger:hover {
    outline-color: transparent;
  }

  .burger:hover .burger__line {
    background-color: var(--light-violet);
  }

  .burger:active {
    outline-color: transparent;
  }

  .burger:active .burger__line {
    background-color: var(--active);
  }

  .burger__line {
    position: absolute;
    left: 50%;
    border-radius: 4px;
    width: 23px;
    height: 3px;
    background-color: var(--violet);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: top 0.3s ease-in-out, left 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: top 0.3s ease-in-out, left 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .burger__line:nth-child(1) {
    top: 20px;
  }

  .burger__line:nth-child(3) {
    bottom: 20px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:first-child {
    left: 0;
    top: 25%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    z-index: 1001;
    color: var(--violet);
    -webkit-transition: top 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: top 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .burger--active .burger__line:last-child {
    left: 0;
    top: 25%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    z-index: 1001;
    color: var(--violet);
    -webkit-transition: top 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: top 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .burger--active {
    position: absolute;
    top: 33px;
    left: 114px;
  }

  .modal__wrapper {
    padding: 60px 40px;
    min-width: 539px;
  }

  .modal__form-input {
    width: 100%;
  }

  /* .header__bottom */
  .header__bottom {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .header__container--bottom {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
  }

  .header__item-btn--1,
  .header__item-btn--2 {
    display: none;
  }

  .header__list--bottom {
    gap: 29px;
  }

  .on-the-air--adaptive {
    top: 0;
    display: block;
  }

  /* hero */
  .hero__left {
    -ms-flex-preferred-size: calc(calc(100% / var(--columns)) * 12);
    flex-basis: calc(calc(100% / var(--columns)) * 12);
  }

  .hero__picture {
    display: none;
  }

  /* podcasts */
  .podcasts__item {
    -ms-flex-preferred-size: calc(calc(100% / var(--columns)) * 12);
    flex-basis: calc(calc(100% / var(--columns)) * 12);
  }

  .item-img {
    width: 20.74%;
  }

  /* broadcast */
  .broadcast {
    padding-bottom: 0;
  }

  .broadcast__container {
    margin-bottom: 60px;
  }

  .broadcast__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .broadcast__content {
    margin-bottom: 35px;
  }

  .broadcast__bottom {
    display: none;
  }

  .broadcast__underline {
    display: block;
    padding-left: 0;
    padding-right: 0;
    height: 1px;
    width: 100%;
    background: var(--gray-line);
  }

  .broadcast__bottom-adaptive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 212px;
  }

  .broadcast__bottom-img {
    margin-bottom: 0;
    width: 21%;
    height: 96px;
  }

  .broadcast__bottom-btn {
    margin-bottom: 8px;
    padding: 9px 53px;
    width: 62.5%;
    text-align: center;
  }

  .broadcast__bottom-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 74%;
  }

  /* guests */
  .guests {
    padding-top: 96px;
    padding-bottom: 95px;
  }

  .guests__title {
    margin-bottom: 12px;
  }

  .guests__top-col {
    -ms-flex-preferred-size: calc(calc(100% / var(--columns)) * 12);
    flex-basis: calc(calc(100% / var(--columns)) * 12);
  }

  .guests__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 52px;
  }

  .ac .ac-panel {
    gap: 30px 30px;
  }

  .item-list {
    gap: 30px 30px;
  }

  .tabs-item__img {
    height: 220px;
  }

  .tabs-item__text {
    margin-bottom: 29px;
    width: 73%;
  }

  .playlists__list {
    --playlists-elements: 2;
  }

  .playlists-radio__left,
  .playlists-radio__right {
    gap: 40px 0;
  }

  .playlists-radio {
    padding-bottom: 50px;
  }

  .playlists__left-age-limit {
    margin-bottom: 2px;
  }

  /* advertising */
  .advertising {
    padding-top: 70px;
  }

  .advertising__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
  }

  .advertising__picture-mark {
    left: 15px;
    top: 0;
    width: 160px;
    height: 160px;
  }

  .advertising__title {
    width: 73%;
  }

  /* about-us */
  .about-us {
    padding-top: 93px;
  }

  .about-us__wrapper {
    gap: 31px;
  }

  .about-us__top-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 26px;
  }

  .about-us-content {
    -ms-flex-preferred-size: calc(calc(100% / var(--columns)) * 12);
    flex-basis: calc(calc(100% / var(--columns)) * 12);
  }

  .about-us__img-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
    -ms-flex-preferred-size: calc(calc(100% / var(--columns)) * 12);
    flex-basis: calc(calc(100% / var(--columns)) * 12);
  }

  .about-us__spiral-wrapper {
    position: relative;
    display: block;
    width: 398px;
    height: 112px;
  }

  .about-us__spiral {
    position: absolute;
    top: 0;
    right: -66px;
    background-image: url("../img/about-us-spiral-768.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 639px;
    height: 112px;
  }

  .about-us__dawn-wrapper {
    position: relative;
  }

  .about-us__dawn {
    width: 112px;
    height: 112px;
  }

  /* swiper */
  .swiper-container {
    margin-bottom: 0;
  }

  .swiper-slide__img--1 {
    background-image: url("../img/gutenberg-dm-768.jpg");
  }

  .swiper-slide__img--2 {
    background-image: url("../img/vasilyeva-an-768.jpg");
  }

  .swiper-slide__img--3 {
    background-image: url("../img/dmitrievskiy-pt-768.jpg");
  }

  .swiper-slide__img--4 {
    background-image: url("../img/fleganova-tn-768.jpg");
  }

  .swiper-slide__img--5 {
    background-image: url("../img/prokopyev-fd-768.jpg");
  }

  .swiper-slide__img--6 {
    background-image: url("../img/kortneva-sv-768.jpg");
  }

  .swiper-button-prev {
    top: 129px;
    left: 50px;
  }

  .swiper-button-next {
    top: 129px;
    right: 50px;
  }

  .about-us__middle {
    margin-bottom: 0;
  }

  .form__input-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 31px;
  }

  .form__input-box {
    width: 100%;
  }

  .form__btn {
    width: 39%;
  }

  /* footer */
  .footer__container {
    margin-bottom: 79px;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 78px;
  }

  .footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__link svg {
    width: 35px;
    height: 37px;
  }

  .footer__right {
    width: 100%;
  }

  .footer__nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 156px;
  }

  .footer__list-nav {
    gap: 27px;
  }
}

@media (max-width: 767px) {

  /* global */
  .container {
    padding-left: 70px;
    padding-right: 70px;
  }

  .burger--active {
    left: 70px;
  }

  .nav--top {
    padding: 106px 70px;
  }

  /* footer */
  .footer__nav {
    gap: 50px;
  }
}

@media (max-width: 679px) {

  .header__container--top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .burger--active {
    left: 32px;
  }

  .nav--top {
    padding: 86px 32px;
  }

  .nav-wrapper {
    padding-top: 15px;
    padding-bottom: 13px;
  }

  .header__list--bottom {
    gap: 25px;
  }

  .header__item--bottom {
    font-size: var(--text-size-xs);
  }


  /* hero */
  .hero__content {
    padding-top: 33px;
    padding-bottom: 41px;
  }

  .hero__title {
    margin-bottom: 8px;
    font-size: 32px;
  }

  .hero__text {
    font-size: 14px;
  }

  .hero__btn {
    padding: 14px 44px;
    font-size: var(--text-size-sm);
  }

  /* podcasts */
  .item-img {
    width: 30%;
  }

  /* guests */
  .ac .ac-panel .ac-text .item-list__item .tab-nav__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .tab-nav__btn {
    padding-right: 50px;
  }

  /* playlists */
  .playlists__item-content {
    padding: 16px 0 16px 15px;
  }

  /* about-us */
  .form__btn {
    width: 67%;
  }
}

@media (max-width: 570px) {

  /* global */
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .title-2 {
    font-size: 30px;
  }

  /* header */
  .search {
    right: 1px;
  }

  .search__input {
    padding: 5px 63px 3px 4px;
  }

  .nav--top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0;
    min-height: 393px;
  }

  .nav__bg-img {
    display: none;
  }

  .header__list-wrapper-top {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0 48px;
    padding: 62px 37px 24px 32px;
    background-color: var(--light-gray);
  }

  .header__container--bottom {
    position: relative;
  }

  .nav--bottom {
    display: none;
  }

  .wats-on-air-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 5px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 13px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--gray-line);
    width: 100%;
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }


  .header__item-btn--1,
  .header__item-btn--2 {
    display: block;
  }

  .header__item-btn--1 {
    border-left: 0;
  }

  .header__item-btn--2 {
    padding-left: 35px;
    border-right: 0;
  }

  .header__bottom {
    padding-top: 9px;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .header__list-btn {
    position: absolute;
    left: 32px;
    top: 12px;
    gap: 37px;
    background-color: var(--white);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .wats-on-air-btn-icon path {
    stroke: var(--white);
  }

  .wats-on-air-btn--open {
    background: rgba(230, 232, 236, 0.4);
  }

  .wats-on-air-btn--open .wats-on-air-btn-icon {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .header__bottom--open .header__list-btn {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  .on-the-air {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 8px;
    padding-left: 0;
  }

  .on-the-air__text {
    font-size: 10px;
  }

  .on-the-air__track-name {
    font-size: 14px;
  }

  .wats-on-air-btn-text {
    font-weight: 500;
    line-height: 100%;
    color: var(--violet);
  }

  .on-the-air--adaptive {
    display: none;
  }

  .header__list-wrapper-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 78px;
    padding: 29px 75px 30px 32px;
    background-color: var(--white);
  }

  .header__list--top-left,
  .header__list--top-right {
    margin: 0;
    gap: 40px;
  }


  .header__list--adaptive-left,
  .header__list--adaptive-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 27px;
  }

  .burger--active {
    top: 18px;
  }

  .log-in-btn {
    position: absolute;
    bottom: 195%;
    right: 0;
    padding: 9.5px 24px;
  }

  /* broadcasts */
  .broadcast__title {
    margin-bottom: 18px;
  }

  .broadcast__content {
    margin-bottom: 17px;
  }

  .broadcast__author {
    font-size: var(--text-size-xs);
  }

  .title-3 {
    font-size: var(--text-size-sm);
  }

  .broadcast__item-notice {
    font-size: var(--text-size-xs);
  }

  .broadcast__more-link {
    font-size: var(--text-size-sm);
  }

  .broadcast__item-wrapper {
    padding: 10px 0 12px 10px;
  }

  /* guests */
  .guests {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .guests__item {
    min-height: 52px;
  }

  .ac-header .ac-trigger svg {
    width: 26.5px;
    height: 26.5px;
  }

  /* playlists */
  .playlists__radio-title {
    font-size: var(--text-size-xs);
  }

  .playlists-radio__lbl {
    font-size: var(--text-size-sm);
  }

  .playlists__item-content {
    padding: 10px 0 10px 10px;
  }

  .item-content-title {
    font-size: var(--text-size-xs);
  }

  .item-content-description {
    font-size: var(--text-size-xxs);
  }

  .playlists__left-age-limit,
  .playlists__left-copy {
    font-size: var(--text-size-xs);
  }

  .playlists__left-age-limit {
    line-height: 133%;
  }

  .playlists__left-copy {
    line-height: 183%;
  }

  /* about-us */
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .about-us__spiral-wrapper {
    width: 300px;
  }

  .about-us__spiral {
    right: 0px;
    width: 455px;
  }
}

@media (max-width: 440px) {

  /* global */
  .title-2 {
    font-size: 24px;
  }

  /* header */
  .header__adaptive {
    padding-top: 22px;
    padding-bottom: 21px;
  }

  /* modal */
  .modal__wrapper {
    padding: 40px 20px;
    min-width: 256px;
  }

  .modal__notice {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .notice-text,
  .registration-link {
    font-size: var(--text-size-xs);
  }

  .modal__form-input {
    padding: 12px 12px 12px 18px;
    border-radius: 40px;
    height: auto;
  }

  .modal__form-input::-webkit-input-placeholder {
    font-size: var(--text-size-sm);
  }

  .modal__form-input::-moz-placeholder {
    font-size: var(--text-size-sm);
  }

  .modal__form-input:-ms-input-placeholder {
    font-size: var(--text-size-sm);
  }

  .modal__form-input::-ms-input-placeholder {
    font-size: var(--text-size-sm);
  }

  .modal__form-input::placeholder {
    font-size: var(--text-size-sm);
  }

  .modal__btn {
    padding: 12px 43px;
    width: 80%;
    font-size: var(--text-size-sm);
  }

  .modal__helper-social {
    font-size: var(--text-size-xs);
  }

  .modal__list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }

  /* podcasts */
  .podcasts {
    padding-top: 54px;
    padding-bottom: 54px
  }

  .podcasts__title {
    margin-bottom: 18px;
  }

  .podcasts__item {
    margin-bottom: 32px;
  }

  .item-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .item-img {
    height: 72px;
    width: 100%;
  }

  .item-img--1 {
    background-image: url("../img/podcasts-img-1-320.jpg");
  }

  .item-img--2 {
    background-image: url("../img/podcasts-img-2-320.jpg");
  }

  .item-img--3 {
    background-image: url("../img/podcasts-img-3-320.jpg");
  }

  .item-img--4 {
    background-image: url("../img/podcasts-img-4-320.jpg");
  }

  .date {
    top: 0px;
    bottom: unset;
    padding-bottom: 1px;
  }

  .card {
    width: 100%;
  }

  .card__top {
    padding: 16px 16px 17px 16px;
  }

  .card__btn-icon {
    width: 35px;
    height: 35px;
  }

  .track-name {
    font-size: var(--text-size-sm);
  }

  .podcasts__author {
    font-size: var(--text-size-xs);
  }

  .views-quantity,
  .like-quantity,
  .share-quantity {
    font-size: var(--text-size-xs);
  }

  .card__bottom {
    gap: 31px;
    padding-top: 6px;
    padding-left: 34px;
    padding-bottom: 6px;
  }

  .card__botom-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 6px;
  }

  .podcasts__list {
    margin-bottom: 0;
  }

  .show-more-btn {
    padding: 14px 30px;
    font-size: var(--text-size-sm);
  }

  /* broadcasts */
  .broadcast {
    padding-top: 54px;
  }

  .broadcast__container {
    margin-bottom: 30px;
  }

  .broadcast__item-wrapper {
    gap: 17px;
    min-height: 99px;
  }

  .broadcast__item {
    min-height: 149px;
  }

  .broadcast__item-img {
    background-position: unset;
    background-size: cover;
    height: 50px;
    width: 100%;
  }

  .broadcast__item-title {
    margin-bottom: 6px;
    font-size: var(--text-size-xs);
  }

  .broadcast__item-notice {
    font-size: var(--text-size-xxs);
  }

  .broadcast__more-link {
    font-size: var(--text-size-xs);
  }

  .broadcast__bottom-adaptive {
    gap: 13px;
    padding: 29px 32px 30px 32px;

  }

  .broadcast__bottom-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 65%;
  }

  .broadcast__bottom-img {
    width: 77px;
    height: 105px;
  }

  .broadcast__bottom-text {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .broadcast__bottom-btn {
    margin-bottom: 0;
    padding: 6.5px 31px;
    width: 66%;
    text-align: center;
  }

  /* guests */
  .guests__is-visited,
  .guests__visitors {
    font-size: 14px;
  }

  .guests__is-visited {
    margin-bottom: 0;
  }

  .guests__top {
    margin-bottom: 29px;
  }

  .guests__item {
    padding: 12px 0;
  }

  .is-active.ac .ac-header {
    padding-bottom: 13px;
  }

  .tab-nav__btn {
    font-size: 14px;
    line-height: 110%;
  }

  .is-active.ac .ac-panel {
    padding-top: 18px
  }

  .ac .ac-panel {
    --ac-elements: 2;
  }

  .ac .ac-panel .ac-text--last {
    width: calc((100% - (var(--ac-elements) - 1) * var(--gap)) / var(--ac-elements));
  }

  .item-list--last {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .item-list {
    gap: 28px 30px;
  }

  .ac-text--3 {
    display: none;
  }

  .ac .ac-panel .ac-text--last {
    display: none;
  }

  .ac-text--adaptive-3,
  .ac-text--adaptive-4 {
    display: block;
  }

  .is-active.guests__item {
    padding-bottom: 23px;
  }

  .guests__bottom {
    gap: 31px;
  }

  .tabs-item__img {
    height: 159px;
  }

  .tabs-item__title {
    font-size: var(--text-size-lg);
  }

  .tabs-item__img {
    margin-bottom: 16px;
  }

  .social-list__link svg {
    width: 36px;
    height: 30px;
  }

  .social-list {
    gap: 0 29px;
    margin-bottom: 15px;
  }

  .tabs-item__title {
    margin-bottom: 9px;
  }

  .tabs-item__text {
    margin-bottom: 30px;
    width: 100%;
  }

  .tabs-item__btn {
    padding: 7px 13.5px
  }

  /* playlists */
  .playlists {
    position: relative;
    padding-top: 55px;
    padding-bottom: 49px;
  }

  .playlists__title {
    margin-bottom: 20px;
  }

  .playlists-radio {
    display: none;
  }

  .playlists__swiper {
    display: block;
  }

  .playlists__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .playlists__container-swiper {
    position: absolute;
    top: 116px;
    padding-left: 29px;
    padding-right: 0;
  }

  .playlists-radio__left,
  .playlists-radio__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 26px 0;
    height: 100%;
  }

  .playlists__input {
    width: 0;
    height: 0;
    opacity: 0;
  }

  .playlists__lbl .playlists__btn {
    display: inline-block;
    padding: 7px 18px;
    border: 2px solid var(--violet);
    border-radius: 77px;
    font-weight: 500;
    font-size: var(--text-size-sm);
    color: var(--violet);
    -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }


  .playlists__lbl .playlists__input:checked~span {
    background-color: var(--violet);
    color: var(--white);
  }

  .playlists__item-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .playlists__item-pic {
    width: 100%;
  }

  .playlists__left {
    margin-bottom: 54px;
    width: 100%;
  }

  .swiper-slide {
    width: auto;
  }

  .playlists__item-flag {
    right: 0;
    left: unset;
  }

  .playlists__list {
    margin-bottom: 32px;
  }

  .underline {
    margin-bottom: 28px;
  }

  .playlists__left-copy {
    margin-bottom: 4px;
  }


  /* advertising */
  .advertising {
    padding-top: 67px;
    padding-bottom: 55px;
  }

  .advertising__picture-mark {
    left: 15px;
    top: 0;
    width: 62px;
    height: 62px;
  }

  .advertising__description--1,
  .advertising__description--2 {
    font-size: 14px;
    line-height: 22px;
  }

  .advertising__description--1 {
    margin-bottom: 11px;
  }

  .advertising__description--2 {
    margin-bottom: 13px;
  }

  .advertising__price {
    margin-bottom: 18px;
    font-size: 24px;
  }

  .advertising__btn {
    padding: 13px 13px;
  }

  .advertising__btn-text {
    font-size: 16px;
  }

  .advertising__row {
    gap: 18px;
  }

  .advertising__title {
    margin-bottom: 10px;
    width: 100%;
  }

  .advertising__wavy-line {
    background-image: url('../img/wavy-line-320.svg');
  }

  /* about-us */
  .about-us {
    position: relative;
    padding-top: 55px;
    padding-bottom: 55px;
    overflow: hidden;
  }

  .about-us__wrapper {
    gap: 31px;
  }

  .adout-us-greetings,
  .about-us-description {
    font-size: 14px;
  }

  .adout-us-greetings {
    margin-bottom: 3px;
    line-height: 21px;
  }

  .about-us-description {
    line-height: 22px;
  }

  .about-us__img-wrapper {
    display: none;
  }

  /* swiper */
  .swiper-container {
    padding-right: 0px;

  }

  .swiper-slide__img {
    margin-bottom: 12px;
    background-size: 100%;
    height: 113px;
  }

  .swiper-slide__title {
    margin-bottom: 4px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 129%;
  }

  .swiper-slide__notice {
    font-size: var(--text-size-xs);
    line-height: 133%;
  }

  /* form about-us__form  */
  .about-us__form {
    gap: 28px;
  }

  .message {
    padding: 16px 32px 92px 22px;
    border-radius: 20px;
  }

  .form__textarea::-webkit-input-placeholder {
    font-size: var(--text-size-sm);
  }

  .form__textarea::-moz-placeholder {
    font-size: var(--text-size-sm);
  }

  .form__textarea:-ms-input-placeholder {
    font-size: var(--text-size-sm);
  }

  .form__textarea::-ms-input-placeholder {
    font-size: var(--text-size-sm);
  }

  .form__textarea::placeholder {
    font-size: var(--text-size-sm);
  }


  .form__input::-webkit-input-placeholder {
    font-size: var(--text-size-sm);
  }


  .form__input::-moz-placeholder {
    font-size: var(--text-size-sm);
  }


  .form__input:-ms-input-placeholder {
    font-size: var(--text-size-sm);
  }


  .form__input::-ms-input-placeholder {
    font-size: var(--text-size-sm);
  }


  .form__input::placeholder {
    font-size: var(--text-size-sm);
  }

  .name,
  .email {
    padding: 15px 0 14px 23px;
  }

  .form__btn {
    margin-bottom: 0;
    padding: 11px 42px;
    font-size: var(--text-size-sm);
  }

  .form__checkbox-text {
    font-size: var(--text-size-xxs);
  }

  /* footer */
  .footer {
    position: relative;
    padding-top: 53px;
  }

  .footer__container {
    margin-bottom: 190px;
  }

  .social-list {
    gap: 21px;
  }

  .footer__nav {
    display: none;
  }

  .footer__nav-mobile {
    position: absolute;
    top: 179px;
    left: 0;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
  }

  .footer__container-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 79px;
  }

  .footer__nav-mobile {
    background-color: var(--black);
  }

  .nav__list-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
  }

  .nav__list-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 17px;
  }

  .nav__link-mobile {
    font-size: var(--text-size-xs);
    line-height: 100%;
    color: var(--white);
  }

  .footer__copyright-text {
    font-size: var(--text-size-xs);
  }

  .footer__copyright {
    gap: 2px;
  }

}
